
<section class="session-index interior-content clearfix" id="SessionIndex">
<h1 class="pagetitle cutout">Sessions</h1>

<% if @sessions.any? %>
  <ul>
    <% @sessions.each do |session| %>
    <li class="session">
        <article>
            <h3><%= link_to session.title, session_slug_path(session.slug, session) %></h3>
            <p class="attribution">Presented by: <%= link_to session.speaker.fullname, speaker_slug_path(session.speaker.slug,session.speaker) %></p>
            <% if session.speaker_deck? %>
                <p class="links">Links: <a id="SpeakerDeckUrl" href="<%= session.speaker_deck %>">Slides</a></p>
            <% end %>
            <p class="summary"><%= session.summary %></p>
        </article>
    </li>
    <% end %>
  </ul>
<% else %>
    <p><a href="/submit">Call for Speakers</a></p>
<% end %>

</section>
