<section class="session-show interior-content clearfix">

<h1 class="pagetitle"><%= @session.title %></h1>

<p class="attribution">Presented by: <%= link_to @session.speaker.fullname, speaker_slug_path(@session.speaker.slug,@session.speaker) %></p>

<div class="abstract"><%= simple_format(@session.abstract) %></div>

</section>
