<section class="sponsor-index interior-content clearfix">
 <ul>
  <li>
    <a href="http://www.mattpaulson.com/" target=_blank><%= image_tag "mp-logo.jpg" %></a>
  </li>
  <li>
    <a href="http://www.innovsys.com/" target="_blank">
      <img src="https://dl.dropboxusercontent.com/u/34408955/Logos/Innovative%20Systems%20Logo.jpg" />
    </a>
  </li>
  <li>
    <a href="http://blendinteractive.com" target="_blank">
      <img src="https://dl.dropboxusercontent.com/u/34408955/Logos/blend-logo.jpg" />
    </a>
  </li>
  <li>
    <a href="http://www.pluralsight.com" target="_blank">
      <img src="http://s.pluralsight.com/mn/img/logo/pluralsight-fullcolor-250x55-v1.png" alt="Pluralsight - hardcore developer training" />
    </a>
  </li>
 </ul>
</section>
