<main role="main">
    <section class="main-content">
     <ul style="list-style-type:none;" >
      <li> <a href="http://www.innovsys.com/" target="_blank"><img src="http://www.innovsys.com/images/building.jpg" /></a></li>
      <li> <a href="http://blendinteractive.com" target="_blank"><img src="http://blendinteractive.com/Content/images/logo.png" /></a></li>
      <li> <a href="http://www.pluralsight.com" target="_blank"><img src="http://s.pluralsight.com/mn/img/logo/pluralsight-fullcolor-250x55-v1.png" alt="Pluralsight - hardcore developer training" /></a></li>
     </ul>
    </section>
</main>
