<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks for your submission, <%= @speaker_submission.name %></h1>
    <p>
      We are currently in the process of reviewing submissions.<br/>
      You will be notified if you are selected.
    </p>
    <p>
      Feel free to contact us <a href="mailto:tyler.harms@gmail.com">via Email</a> with questions.
    </p>
    <p>Again, thanks for thanks for your submission!</p>
  </body>
</html>
