// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
[class^="session-"],[class*=" session-"] {
    h1 {
        text-align: left;
    }
    .attribution {
        font-size: .9em;
        padding-bottom: .1em;
    }
}

.session-index {
    ul {
        @include flex();
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
        li {
            display: block;
            padding-left: 0;
            text-align: left;
        }
    }
}
.session {
    h3 {
        text-shadow: none;
    }
}
.session-show {
    text-align: left;
}

@media only screen and (min-width: 30em) {

}

@media only screen and (min-width: 48em) {
    .session-index {
        li {
            width: 48%;
        }
    }
}

@media only screen and (min-width: 64em) {

}
