// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "mixins";
[class^="speaker-"],[class*=" speaker-"] {
    h1 {
        text-align: left;
    }
}

.speaker-index {
    ul {
        @include flex();
        flex-wrap: wrap;
        justify-content: space-between;
        margin-left: 0;
        padding-left: 0;
        text-align: left;
        li {
            display: block;
            margin-bottom: 2em;
        }
    }
}
.img-circle {
    border-radius: 50%;
}

.speaker {
    img {
        margin-right: 2em;
    }
}

.speaker-show {
    text-align: left;
}

.bio {
    h6 {
        font-size: .9em;
        text-shadow: none;
    }
}

@media only screen and (min-width: 30em) {

}

@media only screen and (min-width: 48em) {
    .speaker-index {
        li {
            width: 48%;
        }
    }
}

@media only screen and (min-width: 64em) {

}
