
<section class="speaker-index interior-content clearfix" id="SpeakerIndex">
<h1 class="pagetitle">Speakers</h1>

<% if @speakers.any? %>
  <ul>
    <% @speakers.each do |speaker| %>
    <li class="speaker">
        <img class="img-circle" src="http://www.gravatar.com/avatar/<%= speaker.md5 %>?s=150" />
        <%= link_to speaker.fullname, speaker_path(speaker.slug, speaker) %>
    </li>
    <% end %>
  </ul>
<% else %>
<p><a href="/submit">Call for Speakers</a></p>

<% end %>

</section>
