<section class="speaker-show interior-content clearfix">


<h1 class="pagetitle"><%= @speaker.fullname %></h1>

<% if @speaker.bio %>
<div class="bio">
    <h6>Bio:</h6>
    <%= simple_format(@speaker.bio) %>
</div>
<% end %>

</section>
